/* AddCommentForm.module.css */
.AddCommentForm {
    border: 1px solid var(--primary-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.AddCommentFormBtn{
    margin-top: 10px;
    width: 200px;
}
.AddCommentFormInput{
    flex-grow: 1;
}