/* ArticleImageComponent.module.css */
.ArticleImageComponent {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.img {
    margin-top: 10px;
    margin-bottom: 10px;
    
}