.app_orange_theme {
    --bg-color: #FBF8F4;
    --inverted-bg-color: #B27B28;
    --primary-color: #912A21;
    --secondary-color: #c44337;
    --inverted-primary-color: #FBF8F4;
    --inverted-secondary-color: #ccc8c3;
}
