.app_orange_theme {
    --bg-color: #FBF8F4;
    --inverted-bg-color: #B27B28;
    --primary-color: #912A21;
    --secondary-color: #c44337;
    --inverted-primary-color: #FBF8F4;
    --inverted-secondary-color: #ccc8c3;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    //code
    --code-bg: #fcfbfa;
}
