/* CommentItem.module.css */
.CommentItem {
    padding: 10px;
    border: 1px solid var(--primary-color);
}
.header {
    display: flex;
    align-items: center;
}
.userName{
    margin-left: 10px;
}
.text {
    margin-top: 10px;
}